# Virtual Environment
.venv/

# Zensical Cache and Build directories
site/
.cache/

# Python cache
__pycache__/
*.pyc

# Local IDE/Antigravity CLI configurations
.antigravitycli/

.agents/
.codex/

# 1. Carpeta de inicialización de Terraform (plugins y proveedores)
.terraform/

# 2. Archivos de estado local (¡NUNCA los subas, contienen secretos en texto plano!)
*.tfstate
*.tfstate.*

# 3. Archivos de variables con contraseñas o credenciales sensibles
*.tfvars
*.tfvars.json

# 4. Archivos de variables de entorno para tokens/secretos
.env

# Pytest and Coverage
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/