subscription_id                = "tu-id-de-suscripcion-real-aqui"
created_resource_group_name    = "sisdis"
location                       = "eastus2"
imported_resource_group_name   = "pacocha-az"
container_app_environment_name = "managedEnvironment-pacochaaz-bd3b"
key_vault_name                 = "Rodrygoleu7Komekito25"
log_analytics_workspace_name   = "log-analytics-workspace-sisdis"
wallet_container_app_name      = "wallet-app"
wallet_container_image_name    = "wallet-container"
tap_mock_container_app_name    = "tap-mock-app"
tap_mock_container_image_name    = "tap-mock-container"
auth_container_app_name        = "auth-app"
auth_container_image_name      = "auth-container"
github_secret_token_name       = "nombre-gh-secret-token"
github_secret_token            = "your-gh-secret"
